<br>

<section>
    <h1>À propos de ConnectX</h1>
    <br>
    <p [innerHTML]="'ConnectX est un club dynamique dédié à la création de liens sociaux et à l\'organisation d\'activités engageantes. Axé sur la construction d\'une communauté chaleureuse et inclusive, le club offre une variété d\'événements sociaux qui favorisent les interactions authentiques entre ses membres. Que ce soit à travers des soirées thématiques, des ateliers interactifs ou des sorties conviviales, ConnectX vise à créer un espace où chacun peut se connecter, partager des expériences et élargir son cercle social.     Avec une atmosphère accueillante et des activités variées, ConnectX s\'efforce de renforcer les liens entre ses membres, favorisant ainsi un sentiment d\'appartenance et d\'amitié au sein de la communauté. Rejoignez-nous pour vivre des moments mémorables et tisser des liens durables !' | boldText"></p>
</section>

<br>

<section>
    <h3>Équipe ConnectX</h3>
    <p>ConnectX est un club passionnant réalisé par une équipe dévouée. Découvrez qui sont les personnes derrière ce club dynamique :</p>

    <ul style="list-style-type: none;">
        <li><strong>Khelifi Asma :</strong> Une personne passionnée par les technologies de l'information et du web.
            Dotée d'une curiosité innée, elle explore constamment de nouveaux horizons dans le domaine du développement informatique.
            Sa maîtrise des langages de programmation et son engagement envers l'apprentissage continu en font une développeuse dynamique.
            En dehors du monde du code, Asma apprécie les défis intellectuels et trouve de la satisfaction à résoudre des problèmes complexes.</li>
            <br>    
        <li><strong>Salouej Yorna :</strong> Une créatrice polyvalente et une esprit artistique.
            Passionnée par le design graphique et la création visuelle, elle excelle dans l'expression artistique à travers différents médiums.
            Sa créativité débordante se reflète dans ses œuvres, qu'il s'agisse de graphismes numériques, d'illustrations ou de conceptions artistiques.
            En dehors de son travail artistique, Yorna est également connue pour sa nature collaborative et son aptitude à apporter une perspective unique à chaque projet créatif.</li>
    </ul>
</section>

<br>

<footer style="float: right;">
    <p><strong>©</strong> 2023 ConnectX. Tous droits réservés.</p>
</footer>
