<br>
<div class="container">
    <h3>Ajouter une activité</h3>
    <br>
    <form [formGroup]="activityForm" (ngSubmit)="onSubmitForm()">
        <div>
            <label><strong>Intitule</strong></label><br>
            <input type="text" class="form-control" name="intitule" formControlName="intitule">
        </div>
        <div *ngIf="intitule && intitule.invalid && intitule.touched" class="alert alert-danger">
            Le champ "Intitulé" est obligatoire !
        </div>
        <div>
            <label><strong> Image </strong></label><br>
            <input type="text" class="form-control" name="image" formControlName="image">
        </div>
        <div *ngIf="image && image.invalid && image.touched" class="alert alert-danger">
            Le champ "Image" est obligatoire !
        </div>
        <div>
            <label><strong> Description </strong></label><br>
            <input type="text" class="form-control" name="description" formControlName="description">
        </div>
        <div *ngIf="description && description.invalid && description.touched" class="alert alert-danger error">
            Le champ "Description" est obligatoire !
        </div>
        <div>
            <label><strong> Nombre de Participants </strong></label><br>
            <input type="number" class="form-control" name="nbParticipants" formControlName="nbParticipants">
        </div>
        <div *ngIf="nbParticipants && nbParticipants.invalid && nbParticipants.touched" class="alert alert-danger error">
            Le champ "Nombre de Participants" est obligatoire !
        </div><br>
        <div class="form-group form-check">
            <label class="form-check-label"><strong> Complet </strong> &nbsp; 
                <input type="checkbox" name="complet" formControlName="complet">
            </label>
        </div><br>
        <div>
            <label><strong> Date </strong></label><br>
            <input type="date" class="form-control" name="date" formControlName="date">
        </div>
        <div *ngIf="date && date.invalid && date.touched" class="alert alert-danger error">
            Le champ "Date" est obligatoire !
        </div>
        <div>
            <label><strong> Lieu </strong></label><br>
            <input type="text" class="form-control" name="lieu" formControlName="lieu">
        </div>
        <div *ngIf="lieu && lieu.invalid && lieu.touched" class="alert alert-danger error">
            Le champ "Lieu" est obligatoire !
        </div><br>
        <hr>
        <h3>Définition des dirigeants</h3>
        <div formArrayName="lesParticipants">
            <div *ngFor="let participant of participants.controls; let i = index" [formGroupName]="i">
                <h5>Dirigeants n°{{i + 1}}</h5>
                <label><strong>CIN</strong></label>
                <input type="number" class="form-control" name="cin" formControlName="cin">
                <div *ngIf="isValidPattern()" class="alert alert-danger error">
                    Le champ "CIN" doit être composé 8 chiffres !
                </div>
                <div *ngIf="cin && cin.invalid && cin.touched" class="alert alert-danger error">
                    Le champ "CIN" est obligatoire !
                </div>
                <label><strong>Nom</strong></label>
                <input type="text" class="form-control" name="nom" formControlName="nom">
                <div *ngIf="nom && nom.invalid && nom.touched" class="alert alert-danger error">
                    Le champ "Nom" est obligatoire !
                </div>
                <label><strong>Prénom</strong></label>
                <input type="text" class="form-control" name="prenom" formControlName="prenom">
                <div *ngIf="prenom && prenom.invalid && prenom.touched" class="alert alert-danger error">
                    Le champ "Prénom" est obligatoire !
                </div>
                <label><strong>Age</strong></label>
                <input type="number" class="form-control" name="age" formControlName="age">
                <div *ngIf="age && age.invalid && age.touched" class="alert alert-danger error">
                    Le champ "Âge" est obligatoire !
                </div>
                <div *ngIf="isMinAge()" class="alert alert-danger error">
                    L'âge minimal 17 ans !
                </div>
                <div *ngIf="isMaxAge()" class="alert alert-danger error">
                    L'âge maximal est 99 ans !
                </div><br>
                <label><strong>Genre</strong></label><br>
                <input type="radio" value="male" name="genre" formControlName="genre"> Male
                <input type="radio" value="female" name="genre" formControlName="genre"> Female <br>
                <div *ngIf="genre && genre.invalid && genre.touched" class="alert alert-danger error">
                    Le champ "Genre" est obligatoire !
                </div>
                <label><strong>Photo</strong></label>
                <input type="text" class="form-control" name="photo" formControlName="photo">
                <div *ngIf="photo && photo.invalid && photo.touched" class="alert alert-danger error">
                    Le champ "Photo" est obligatoire !
                </div>
                <hr>
            </div>
        </div>
        <br>
        <input type="button" value="Ajouter un dirigeant" class="btn btn-secondary btn-sm" (click)="onAjouter()">&nbsp;
        <input type="button" value="Supprimer un dirigeant" class="btn btn-secondary btn-sm" (click)="onSupprimer()">
        <br>
        <hr>
        <br>
        <input type="submit" value="Enregistrer" class="btn btn-light">
        <input type="button" value="Effacer" (click)="onResetForm()" class="btn btn-light">
        <input type="button" value="Retour" class="btn btn-light" (click)="revenir()">
    </form>
</div>
<br><br>